h1 {
    font-size: 60px;
    color: #5107b1;
    text-align: right;
    margin: 0px;
}

body {
    font-size: 12px;
    color: #da0b0b;
    margin: 10px;
}

p {
    font-size: 500px;
    margin: 0px 20px;
}